/* common variables defined */
:root {
    --blue:rgb(109, 143, 160);
    --text: black;
    --rad: 5vw;
    --light-blue: rgb(154, 159, 161);
}

/* background color of webpage and page wide font */
body {
    background-color: rgb(179, 179, 179);
    font-family: monospace;
}

/* page wide: h2 properties */
h2 {
    margin: 2%;
    padding: 1%;
    text-align: center;
    font-size: 2.5vw;
    background-color: var(--blue);
    border-radius: var(--rad);
    color: var(--text);
}

/* page wide: all unordered lists font size */
ul {
    font-size: 2vw;
}

/* page wide: p properties */
p {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 2vw;
    text-align: center;
    line-height: 150%;
    color: var(--text);

    /* space between paragraphs */
    &:not(:last-child)  {
        margin-bottom: 1%;
    }
}

/* page wide: clickable link properties */
a {
    font-size: 2vw;
    color: var(--text);
}

/* page wide: clickable link effect on hover */
a:hover {
    font-size: 3vw;
}

/* header: positioning and text properties */
header {
    position: relative;
    top: 0;
    left: 0;
    height: 20vw;
    width: 100%;
    background-image: url(../images/placeholder-image.gif);
    background-size: 100%;
    color: var(--text);
    text-align: left;
}

/* header: h1 (Andria Goodwin) properties */
h1 {
    padding-top: 3%;
    padding-left: 5%;
    padding-bottom: 4%;
    font-size: 6.75vw;
}

/* header: navigation section properties and position */
.navigation {
    display: inline;
    padding-left: 5%
}

/* header: navigation section separation of items */
li:not(:last-child) {
    margin-right: 5%;
}

/* header: profile image properties and position*/
.profile {
    position: absolute;
    top: 0;
    right: 0;
    height: 20vw;
}

/* main: properties as a container */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* main: makes "Projects" take up 100% of the page in the flexbox */
main h2 {
    width: 100%;
}

/* main: card container positioning */
.card {
    position: relative;
}

/* main: card h3 shared properties */
.card h3 {
    position: absolute;
    padding: 2%;
    background-color: var(--blue);
    color: var(--text);
    border-radius: var(--rad);
}

/* main: card h3 shared effect on hover */
.card h3:hover {
    text-decoration: underline;
    background-color: var(--light-blue);
}

/* main: card image shared properties */
.card img {
    border-radius: var(--rad);
    filter: blur(3px);
}

/* main: card image shared effect on hover */
.card img:hover {
    filter: blur(0);
}

/* main: individual card, h3, and image properties */
#first-app {
    max-height: 40vw;
    width: 100%;
    margin: 2%;
}

#first-app h3 {
    top: 10%;
    left: 5%;
    font-size: 4vw;
}

#first-app img {
    max-height: 40vw;
    width: 100%;
}

#second-app, #third-app, #fourth-app, #fifth-app {
    max-height: 20vw;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

#second-app h3, #third-app h3, #fourth-app h3, #fifth-app h3 {
    top: 10%;
    left: 10%;
    font-size: 2vw;
}

#second-app img, #third-app img, #fourth-app img, #fifth-app img {
    max-height: 20vw;
    width: 100%;
}

/* footer: unordered list container flexbox */
footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* footer: individual list item properties */
footer li {
    display: inline;
    margin-bottom: 3%;
}

/* Smartphone view: larger font size, cards stack into one column, and larger card size*/
@media screen and (max-width: 500px) {
    h1 {
        font-size: 8vw;
    }

    .navigation {
        font-size: 3vw;
    }
    
    ul {
        font-size: 3vw;
    }

    h2 {
        font-size: 4vw;
    }
    
    p {
        font-size: 3vw;
    }

    #first-app {
        max-height: 40vw;
    }

    #first-app h3 {
        font-size: 5vw;
    }
    
    #first-app img {
        max-height: 40vw;
    }

    #second-app h3, #third-app h3, #fourth-app h3, #fifth-app h3 {
        font-size: 3vw;
    }

    #second-app, #third-app, #fourth-app, #fifth-app {
        max-height: 30vw;
        width: 100%;
    }

    #second-app img, #third-app img, #fourth-app img, #fifth-app img {
        max-height: 30vw;
    }
}