header {
    position: relative;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background-image: url(../images/placeholder-image.gif);
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    margin-left: 3%;
    font-size: 500%;
}

.navigation {
    display: inline;
    margin-right: 5%;
    font-size: 175%;
}

.profile {
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
}

.background {
    height: 200px;
    width: 100%;
}

.card {
    position: relative;
    float: left;
}

#first-app {
    height: 500px;
    width: 100%;
}

#first-app img {
    height: 500px;
    width: 100%;
}

#first-app .title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    background-color: grey;
    color:blueviolet;
}

#second-app, #third-app, #fourth-app, #fifth-app {
    height: 250px;
    width: 50%;
}

#second-app img, #third-app img, #fourth-app img, #fifth-app img {
    height: 250px;
    width: 100%;
}

#second-app .title, #third-app .title, #fourth-app .title, #fifth-app .title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 175%;
    background-color: grey;
    color:blueviolet;
}